<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>renting_list</title>
</head>
<body>


<h1>Table showing a complete list of rentings after running the
fetchAll method
</h1>
<tbody>
            <tr th:each="renting: ${renting}">
<td th:text="${renting.renting_id}"/>
<td th:text="${renting.customer_id}"/>
<td th:text="${renting.car_id}"/>
<td th:text="${renting.start_date}"/>
<td th:text="${renting.pick_up_location}"/>
<td th:text="${renting.end_date}"/>
<td>
    <a th:href="@{'/car-list/'+${Cars.car_id}}">
        <button class="btn-viewOne" id="btn-viewOne">View car</button>
    </a>
    <a th:href="@{'/delete/'+${cars.car_id}}">
        <button class="btn-delete" id="btn-delete">Delete car</button>
    </a>
    <a th:href="@{'/update/'+${cars.car_id}}">
        <button class="btn-update" id="btn-update">Update car</button>
    </a>
</td>
</tr>
</tbody>

-->

</body>
</html>